/* styles/500.module.css */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
}

.card {
  width: min(1100px, 92%);
  background: #f3f0ea;
  border-radius: 24px;
  padding: 40px 48px 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  direction: rtl; /* چون متن فارسیه */
}

.illustration {
  flex: 0 0 auto;
  display: inline-block ;
  align-items: center;
  justify-content: center;
}

.text {
  flex: 1;
  text-align: right;
}

.title {
  margin: 0 0 10px;
  font-size: 28px;
  font-weight: 800;
  color: #1f1f1f;
}

.desc {
  margin: 0;
  font-size: 16px;
  color: #555;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .text {
    text-align: center;
  }
}
